Source: cdn-studio
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               mono-gmcs,
               codyn3-sharp (>= 3.1),
               libbiorob-math1-sharp,
               libplot1-sharp,
               gtk-sharp2,
               libmono-cairo2.0-cil
Standards-Version: 3.8.0
Section: editors
Homepage: http://birg.epfl.ch

Package: cdn-studio
Section: editors
Architecture: any
Depends: gtk-sharp2, libmono-cairo2.0-cil, libmono-system2.0-cil, libmono-corlib2.0-cil, libcodyn3 (>= 3.2)
Description: codyn studio
 A designer studio for codyn
