[Desktop Entry]
Name=cdnstudio
GenericName=CDN Studio
Comment=Edit dynamical systems
Exec=cdnstudio %U
TryExec=cdnstudio
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/x-cdn;
Icon=cdnstudio
Categories=GNOME;GTK;
StartupWMClass=Cdnstudio
